.thread {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.newThreadForm {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.scoreDiv {
    display: flex;
    flex-direction: column;
}