.thread {
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.threadContent {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newThreadForm {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.scoreDiv {
    display: flex;
    flex-direction: column;
}